# /etc/systemd/system/plugin_python.service
[Unit]
Description=Python server

[Service]
User=main
Group=aides_jeunes
WorkingDirectory=/home/main/experiment/tarification-solidaire-strasbourg/server
ExecStart=/home/main/experiment/venv/bin/gunicorn run --config config.py
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target